* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* UTILITY */
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background: linear-gradient(to right, #786ade, #aa8dd8);
    width: 0%;
    z-index: 100;
    transition: width 0.2s ease-out;
}

/* Depois adicionar um SVG e lógica de aparecer o botão */

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-2px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
      transform: translateY(-2px);
    }
  }
  
  #goTopBtn {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    z-index: 100;
    background: url('./assets/up-arrow.png') no-repeat center center; /* AQUI TROCA O BTN TOP */
    background-size: cover;
    transition: opacity 0.2s ease;
    opacity: 1;
}

#goTopBtn.active {
    display: initial;
    opacity: 1;
}

#goTopBtn.hide {
    opacity: 0;
}


/* HEADER */
.header-menu {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}   

.header-menu ul li a {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    font-size: 1.1rem;
}

.header-menu ul li a::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 0px;
    margin-top: 4px;
    transition: 0.3s;
    background-color: #786ade;
}

.header-menu ul li a:hover::after {
    width: 100%;
}

/* MAIN */
.main {
    padding: 0 2rem;
}

.main .title {
    font-size: 6rem;
    display: inline-block;
}

.blob-light, .blob-dark {
    position: absolute;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
}

.blob-light {
    width: 35rem;
    height: 35rem;
    left: 0;
    top: -3rem;
    background: url('./assets/light-blob.svg') no-repeat center center;
}

.blob-dark {
    width: 40rem;
    height: 40rem;
    top: 0;
    right: 0;
    background: url('./assets/dark-blob.svg') no-repeat center center;
}

.main p {
    max-width: 600px;
    font-size: 1.1rem;
}


/* ARROW */

.arrow {
    display: flex;
    max-width: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    margin-top: 18rem;
    margin-bottom: 5rem;
    height: 2rem;
}

.arrow #line1, #line2 {
    background-color: black;
    width: 20px;
    height: 4px;
    margin: -2px;
    transition: all .2s ease-in-out;
}

.arrow:hover{
    #line1 {
        transform: rotate(28deg);
    }
    #line2 {
        transform: rotate(-28deg);
    }
}

/* PROJECT */

.project-title {
    font-size: 2.5rem;
}

.project-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project {
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    position: relative;
}

.project a {
    display: inline-block;
    margin-top: 1rem;
}


.project-image {
    width: 50%;
}

/* ARRUMAR PARA RESPONSIVO DEPOIS */
.project-container {
    position: absolute;
    top: 1rem;
    z-index: 1;
}
.projects .project:nth-child(odd) .project-container {
    right: 5rem;
}
.projects .project:nth-child(even) .project-container {
    left: 5rem;
}

/* Footer */

.footer-bg {
    position: relative;
    margin-top: 3rem;
    padding-bottom: 2rem;
    z-index: -2;
}

.footer-bg::before {
    content: '';
    position: absolute;
    top: 4rem;
    display: block;
    background-color: black;
    height: 1px;
    z-index: -1;
    width: 100%;
}

.outer-footer {
    margin: 0 auto;
    max-width: 850px;
}

.footer {
    display: flex;
    position: relative;
    background-color: #fff;
    align-content: top;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid;
    margin: 0 2rem;
}

.footer::before, .footer::after {
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    width: 1px;
    height: 58.7%;
    bottom: 0;
}

.footer::before {
    left: 0;
}

.footer::after {
    right: 0;
}

.footer .contact-title, .footer .redes-title {
    font-size: 1.4rem;
}

.footer .contact .contacts {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    gap: .5rem;
}

.footer .contact .contacts li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0, .1);
    margin-top: 4px;
    display: block;
}

.footer .redes .social {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
    position: relative;
}

.footer .redes .social li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer .redes .social li::after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 2px;
    background-color: rgb(0, 0, 0, .1);
}

.footer .redes .social li:last-child:after {
    display: none;
}

.footer .redes .social li a {
    cursor: pointer;
}

@media (max-width: 632px) {
    .footer {
        border: none;
    }
    .footer::before, .footer::after {
        display: none;
    }
    .footer-bg::before {
        display: none;
    }
    .footer {
        flex-direction: column;
    }
    .footer .redes {
        margin-top: 1.2rem;
    }
}
