/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* default */

* {
    padding: 0; 
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

/* variables */

:root{
    --dark-purple: #786ADE;
    --light-purple: #AA8DD8;
    --font-size-1: 14px;
}

h3, 
h5 {
    font-weight: 300;
}

/* navbar */

.navbar {
    height: 16vh;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 100%;
    padding: 20px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
}

.navbar ul .nav-item {
    list-style: none;
}

.navbar ul .nav-item a {
    text-decoration: none;
    color: inherit;
    margin-inline: 24px;
    font-size: 14px;
}

@media (max-width: 460px) {
    .navbar ul {
        margin: 0;
        text-align: center;
        justify-content: center;

    }

    .navbar {
        width: 100%;
    }
}

#project-nav:hover,
#about-nav:hover,
#contacts-nav:hover {
    color: #ffffff;
    background-color: #786ADE;
    border-radius: 24px;
    height: auto;
}


/* main content */

main {
    height: 94vh;
    align-items: center;
    
}

.content {
    position: relative;
    width: 70%;
    margin-left: 48px;
}

.content h1 {
    font-size: 18vh;
    width: 100%;
}

.content h3 {
    font-size: 36px;
}

.content h5 {
    font-size: 18px;
}

/* arrow function */

.arrow {
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    transition: all .2s ease-in-out;
}

.arrow .line1, .line2 {
    background-color: black;
    width: 20px;
    height: 4px;
    margin: -2px;
    transition: all .2s ease-in-out;
}

.arrow:hover{
    .line1 {
        transform: rotate(28deg);
    }

    .line2 {
        transform: rotate(-28deg);
    }
}

.footer-follow-me a{
    text-decoration: none;
}

/* footer content */

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    cursor: pointer;
}

.container {
    bottom: 0;
    display: flex;
    height: 24vh;
    width: 100%;
    justify-content: space-evenly;
}
.footer-contact h4, 
.footer-follow-me h4 {
    margin-bottom: 18px;
}

.footer-contact h5 {
    margin-bottom: 14px;
}

.footer-follow-me a {
    margin-inline: 10px;
}

.terms {
    height: 4vh;
    position: absolute;
    display: block;
    text-align: center;
    bottom: 0;
}

.terms ul {
    display: flex;
    justify-content: center;
}

.terms ul li {
    list-style: none;
    font-size: 12px;
    margin-inline: 10px;
}