/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* default */

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

/* variables */

:root {
  --dark-purple: #786ade;
  --light-purple: #aa8dd8;
  --font-size-1: 14px;
}

h3,
h5 {
  font-weight: 300;
}

.footer-follow-me a {
  text-decoration: none;
}

.navbar {
  height: 16vh;
  align-items: center;
  text-align: center;
  align-content: center;
  width: 100%;
  padding: 20px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
}

.navbar ul .nav-item {
  list-style: none;
}

.navbar ul .nav-item a {
  text-decoration: none;
  color: inherit;
  margin-inline: 24px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .navbar ul {
    margin: 0;
    text-align: center;
    justify-content: center;
  }

  .navbar {
    width: 100%;
  }
}

.navbar ul li {
  padding: 0.1rem;
  transition: 0.3s;
}

.nav-item:hover {
  color: #ffffff;
  background-color: #786ade;
  border-radius: 15px;
  height: auto;

  li {
    border-radius: 20%;
  }
}

.nav-item::after {
  background-color: #fff;
}

/* main content */

main {
  height: 94vh;
  align-items: center;
}

.content {
  position: relative;
  margin-left: 48px;
  user-select: none;
  z-index: -1;
}

.content,
h1,
h2,
h4 {
  user-select: none;
}

.content::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -10rem;
  width: 100%;
  height: 600px;
  background: url("../images/dark-blob.svg") no-repeat center center;
}

.content::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -15rem;
  left: -15rem;
  width: 100%;
  height: 600px;
  opacity: 0.5;
  background: url("../images/light-blob.svg") no-repeat center center;
}

.content::after,
.content::before {
  filter: blur(50%);
}
/* @media (max-width: 500px) {
    .content::after {
        bottom: -10rem;
        left: -10rem;
    }
} */

.content h1 {
  font-size: 18vh;
  width: 100%;
}

.content h3 {
  font-size: 36px;
}

.content h5 {
  font-size: 18px;
}

/* arrow function */

.arrow {
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem auto 5rem;
  transition: all 0.2s ease-in-out;
  z-index: 4;
}

.arrow .line-left,
.line-right {
  background-color: black;
  width: 20px;
  height: 4px;
  margin: -2px;
  transition: all 0.2s ease-in-out;
}

/* */

.project-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  text-align: center;
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: 50vh;
  /* background-color: #fff; */
}

#project-2 {
  background-color: #786ade;
  opacity: 0.2;
}

#project-1,
#project-3 {
  background-color: #aa8dd8;
  opacity: 0.8;
}

.project-image {
  padding-top: 1rem;
  width: 50%;
  height: 14rem;
  object-fit: cover;
}

/* footer content */

footer {
  width: 100%;
  cursor: pointer;
}

.footer-bg {
  display: flex;
  height: 24vh;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgba(170, 141, 216, 0.5);
  padding-top: 1.2rem;
}

.footer-contact h4,
.footer-follow-me h4 {
  margin-bottom: 18px;
}

.footer-contact h5 {
  margin-bottom: 14px;
}

.footer-follow-me a {
  margin-inline: 10px;
}

.terms {
  margin-top: 2rem;
  display: block;
  text-align: center;
}

.terms ul {
  display: flex;
  justify-content: center;
}

.terms ul li {
  list-style: none;
  font-size: 12px;
  margin-inline: 10px;
}
