/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

/* variables */

:root{
    --dark-purple: #786ADE;
    --light-purple: #AA8DD8;
    --font-size-1: 14px;
}